body {
  text-align: center;
  font: 1em/1.5 'Montserrat', 'sans-serif';
  color: #333;
}

.row {
  margin-top: 100px;
  margin-bottom: 100px;
}

.margin {
  margin-left: 40px;
  margin-right: 40px;
}

.jumbotron {
  background-color: #F0F0F0;
  height: 750px;
}

.gallery{
width:250px;
display:inline-block;
  position:relative;
}
.items{
  position:relative;
  width:350px;
  display:inline-block;
  padding-right:15px;
  padding-left:15px;
  
}
.delete {
    position: absolute;
    top: -5px;
    right: 5px;
    color: #FF0000;
}



